<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
	<title>Main Page</title>
</head>
<body>
	<h1>Main Page</h1>
	<hr />
	NickName : <%= NickName %>
	QuizPoint : <%= QuizPoint %>
	OmokPoint : <%= OmokPoint %>
	<hr />
	<input type="button" value="" ;>
	<input type="button" value="Quiz" onclick="location.href='http://127.0.0.1:52273/Quiz'";>
	<input type="button" value="Omok" onclick="location.href='http://127.0.0.1:52273/Omok'";>
</body>
</html>