<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
	<title>Omok Page</title>
</head>
<body>
	<h1>Omok Page</h1>
	<hr />
	NickName : <%= NickName %>
	QuizPoint : <%= QuizPoint %>
	OmokPoint : <%= OmokPoint %>
	<hr />
	<input type="button" value="Create Omok Room" onclick="location.href='http://127.0.0.1:52273/COR'";>
	<input type="button" value="Into Omok Room" onclick="location.href='http://127.0.0.1:52273/IOR'";>
	<hr />
	<input type="button" value="<뒤로가기>" onclick="location.href='http://127.0.0.1:52273/main'";>
</body>
</html>