<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
	<title>Quiz Page</title>
</head>
<body>
	<h1>Quiz Page</h1>
	<hr />
	NickName : <%= NickName %>
	QuizPoint : <%= QuizPoint %>
	OmokPoint : <%= OmokPoint %>
	<hr />
	<input type="button" value="Quiz submit" onclick="location.href='http://127.0.0.1:52273/QSP'";>
	<input type="button" value="Create Quiz Room" onclick="location.href='http://127.0.0.1:52273/CQR'";>
	<input type="button" value="Into Quiz Room" onclick="location.href='http://127.0.0.1:52273/IQR'";>
	<hr />
	<input type="button" value="<뒤로가기>" onclick="location.href='http://127.0.0.1:52273/main'";>
</body>
</html>